{%extends "base.html"%}
{%block head%}
<link rel="stylesheet" href="/static/css/style.css">
{%endblock%}
{%block container%}

<style>

</style>
</head>

<body>
    <h1>GeeksforGeeks</h1>



    <div class="movies">

        {% for movie in movies%}

        <div class="movie">
            <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="">

            <a href="{{ url_for('core.movie_detalis', movie_id=movie.id ) }}">{{movie.title}}</a>
            <p>{{movie.release_date}}</p>
            <div class="movie-description">
                <div class="movie-description-rating">
                    <img src="/static/images/image 3.png" alt="">
                    <strong>{{movie.vote_average}}</strong>
                </div>
                <div class="movie-description-like">
                    {% if current_user.is_authenticated %}
                    {% if movie.id in favorite_movies %}
                    <img class="movie-like" src="/static/images/image 5.png" data-movie-id="{{movie.id}}" alt="">
                    {% else %}
                    <img class="movie-like" src="/static/images/image 4.png" data-movie-id="{{movie.id}}" alt="">
                    {% endif %}
                    {% else %}
                    <a href="/login"><img src="/static/images/image 4.png" alt=""></a>
                    {% endif %}

                </div>
            </div>
        </div>


        {% endfor %}
    </div>

    <div class="page_buttons">
        {% for i in range(page_start_index,page_end_index) %}
        <button {% if page==i %} class="page_btn active" {% else %} class="page_btn" {% endif %}
            onclick="changeMoviesPage('{{i}}')">{{i}}</button>
        {% endfor %}
    </div>




    <script>
        let buttons = document.querySelectorAll(".movie-like")
        buttons.forEach((btn) => {
            btn.addEventListener('click', () => {
                console.log('click')
                let movie_id = btn.dataset.movieId
                console.log(movie_id)
                let url = `https://movi-app-ihba.onrender.com/favorite/${movie_id}`

                fetch(url)
                    .then((res) => {
                        return res.text()
                    })
                    .then((text) => {
                        console.log(text)
                        if (text.includes('saved')) {
                            btn.src = '/static/images/image5.png'
                        } else {
                            btn.src = '/static/images/image 4.png'
                        }
                    })
            })
        })



        function changeMoviesPage(page) {
            const currentParams = new URLSearchParams(window.location.search)
            currentParams.set('page',page)
            window.location.search=currentParams.toString()
        }
    </script>




    {%endblock%}