{%extends "base.html"%}
{%block head%}
<link rel="stylesheet" href="/static/css/register.css">
<link rel="stylesheet" href="/static/css/style.css">
{%endblock%}
   

    

{%block container%}
   
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="messages">
        {% for category,message in messages %}
        <div class="message {{category}}"> {{message}}
            <svg class="message-cross" width="30px" height="30px" viewBox="0 0 32.00 32.00" fill="none"
                xmlns="http://www.w3.org/2000/svg" stroke="#000000" transform="rotate(90)" stroke-width="2.4">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                    stroke-width="0.576"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
                        fill="#000000"></path>
                    <path
                        d="M9.17011 15.58C8.98011 15.58 8.79011 15.51 8.64011 15.36C8.35011 15.07 8.35011 14.59 8.64011 14.3L14.3001 8.63999C14.5901 8.34999 15.0701 8.34999 15.3601 8.63999C15.6501 8.92999 15.6501 9.40998 15.3601 9.69998L9.70011 15.36C9.56011 15.51 9.36011 15.58 9.17011 15.58Z"
                        fill="#000000"></path>
                    <path
                        d="M14.8301 15.58C14.6401 15.58 14.4501 15.51 14.3001 15.36L8.64011 9.69998C8.35011 9.40998 8.35011 8.92999 8.64011 8.63999C8.93011 8.34999 9.41011 8.34999 9.70011 8.63999L15.3601 14.3C15.6501 14.59 15.6501 15.07 15.3601 15.36C15.2101 15.51 15.0201 15.58 14.8301 15.58Z"
                        fill="#000000"></path>
                </g>
            </svg>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>


    <div class="root">
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                <form method="post">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" name="username" placeholder="User name" required="">
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="password" placeholder="Password" required="">
                    <button type="submit">Sign up</button>
                </form>
            </div>

            <div class="login">
                <form method="post" action="/login">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="password" placeholder="Password" required="">
                    <button>Login</button>
                </form>
            </div>
        </div>
    </div>


    <script>
        const messageButtons = document.querySelectorAll(".message-cross");
        messageButtons.forEach((btn) => {
            btn.addEventListener("click", (e) => {
                //console.log("clicked");
                const message = btn.parentElement;
                message.remove();

            });
        });
    </script>





{%endblock%}